:root {
  --text-color: #545454;
  --text-gray: rgb(227, 229, 234);
  --text-grey: rgb(233, 230, 230);
  --height: 100%;
  --width: 100%;
  --text-size: 16px;
  --text-white: #ffff;
  --main-color: #8c7334;
  --text-black: black;
  --text-gray: rgb(209, 205, 205);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* I gave body 70px because the navbar is 70px and fixed */
body {
  padding-top: 80px;
  color: var(--text-color);
  font-family: Open Sans;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* navbar styling begins */
.header {
  background: var(--text-white);
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 20px 20px 0px 20px;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 999;
}
.header nav {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  flex: 1;
}
.nav-logo img {
  width: 60px;
}
nav .menu {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

nav .nav-center {
  display: flex;
  padding-top: 12px;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
}

nav .nav-center li {
  margin: 0px 20px;
}

nav .nav-center li a {
  text-decoration: none;
  color: #545454;
}

.nav-right {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.nav-right li a {
  padding: 12px;
  background: var(--main-color);
  text-decoration: none;
}

.nav-right li a {
  color: var(--text-white);
}

.nav-right li a img {
  width: 20px;
}
/* hamburger menu bar for the navbar */
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgb(16, 14, 14);
}
.hamburger {
  border: 1px solid var(--main-color);
  cursor: pointer;
  display: none;
  padding: 8px 10px;
}

@media screen and (max-width: 850px) {
  nav .menu {
    flex: 4;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 769px) {
  .hamburger.nav-active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.nav-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.nav-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger {
    display: block;
  }
  nav .nav-center {
    display: flex;
    padding-top: 12px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
  body {
    overflow-x: hidden;
  }
  nav .menu {
    width: 100%;
    z-index: 10;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 80px;
    background-color: var(--text-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    right: -110%;
  }
  .nav-links li {
    opacity: 0;
  }

  .menu.nav-active {
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .menu ul li {
    margin: 17px 0px;
    font-size: 20px;
  }
  .nav-right {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

/* sectionOne */

.sectionOne {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .about {
  background-color: #8c7334;
} */

/* contact csss start here */

.contact {
  padding: 20px 100px;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  color: var(--main-color);
}

.contact-text {
  font-size: 18px;
}
.image-div {
  flex: 1;
}
.image-div img {
  width: 500px;
  border-radius: 100px 0px 100px 0px;
  padding-left: 50px;
}

/* contact info */
.contact-info {
  padding: 50px;
  background-color: var(--text-grey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.info-container {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}
.fa-envelope,
.fa-phone,
.fa-map {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 14px;
}
.info-title {
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

/* contact info ends */

/* contact from begins */
.contact-section {
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.form-left,
.form-right {
  display: flex;
  gap: 10px;
}
.form-right .box-left input {
  max-width: 280px;
}

.input-box {
  display: flex;
  margin: 20px;
  width: 100%;
  flex-direction: column;
}
.input-box input {
  font-size: 25px;
  
}
.contact-btn {
  border: none;
  outline: none;
  background-color: var(--main-color);
  padding: 12px 20px;
  color: var(--text-white);
}

.form-title {
  font-size: 30px;
  margin-bottom: 30px;
}

/* contact media query */

@media screen and (max-width: 1025px) {
  .contact {
    padding: 20px 60px;
  }
  .image-div img {
    width: 400px;
    border-radius: 100px 0px 100px 0px;
    padding-left: 50px;
  }
  .contact-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 770px) {
  .contact {
    padding: 50px 60px 10px 60px;
    margin-bottom: 20px;
  }

  .contact-container {
    gap: 20px;
    flex-direction: column;
  }

  .image-div img {
    width: 400px;
    padding-left: 0px;
  }
  .contact-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 600px) {
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .fa-envelope,
  .fa-phone,
  .fa-map {
    color: var(--main-color);
    font-size: 30px;
    margin: 14px 0px;
  }
  .contact-section {
    padding: 20px 50px;
  }
  .form-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .contact-form {
    padding: 10px 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }

  .form-left,
  .form-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .contact {
    padding: 20px 60px 10px 60px;
    height: calc(100vh - 120px);
    margin-bottom: 0px;
  }
  .image-div img {
    width: 300px;
    border-radius: 60px 0px 60px 0px;
  }
  .contact-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) {
  .contact {
    padding: 20px 60px 10px 60px;
    margin-bottom: 0px;
  }
  .image-div img {
    width: 200px;
    border-radius: 60px 0px 60px 0px;
  }
}
/*footer-section for contact  */

.footer-section {
  /* background-color: rgb(233, 230, 230); */
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-item img {
  width: 120px;
}
.footer-item-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-enveloper {
  font-size: 20px;
  margin-bottom: 0px;
  margin-right: 6px;
}

.fa-phone-volume {
  margin-right: 6px;
}
.footer-item p {
  margin: 0px 10px;
}

.company-name {
  text-decoration: dashed;
  font-weight: bold;
}

/* media querry */

@media screen and (max-width: 690px) {
  .footer-section {
    background-color: var(--text-grey);
    /* background-color: red; */
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer-item img {
    width: 90px;
  }
  .footer-item-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-enveloper {
    font-size: 15px;
    margin-bottom: 0px;
    margin-right: 6px;
  }

  .fa-phone-volume {
    margin-right: 6px;
  }
  .footer-item p {
    margin: 0px 10px;
  }
}

@media screen and (max-width: 450px) {
  .footer-item p {
    margin: 0px 10px;
    font-size: 12px;
  }

  .footer-item-last p {
    font-size: 12px;
  }
}

.footer-item a {
  text-decoration: none;
  color: var(--text-color);
}
.about-section-one {
  /* background-color: cyan; */
  padding: 20px 100px;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.about-right-1 {
  flex: 1;
}
.about-section-2 {
  margin-top: 40px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 130px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
/* .about-section-2{
  text-align: center;
  background-color: #8c7334;
} */
.small-heading {
  color: rgb(210, 165, 86);
  font-family: "Playfair Display";
  font-weight: 500;
}
.medium-explanation {
  color: black;
  font-family: "Playfair Display";
  font-weight: 500;
}

#medium-explanation2 {
  color: black;
  font-family: Playfair Display;
  font-weight: 500;
}

.order-button {
  font-weight: 400;
  font-size: 18px;
  padding: 15px;
  color: rgb(210, 165, 86);
  border: 2px solid rgb(210, 165, 86);
  background: none;
}

.section-3-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 30px;
}

@media screen and (max-width: 890px) {
  .section-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 30px;
    gap: 10px;
  }
}
.about-section-5 {
  display: flex;
  padding: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.about-section-5 h4 {
  color: black;
  font-family: Playfair Display;
  font-weight: 500;
}

.about-section-5 h3 {
  color: rgb(210, 165, 86);
  font-family: Playfair Display;
  font-weight: 500;
}
.about-items i {
  color: rgb(140, 115, 52);
}
